<form [formGroup]="SaveCountryForm">

    <div style="font-size:40px; text-align:center;margin-top: 3%;">

        <h2> Save Country Details </h2>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px; margin-top: 20px;">
        <mat-form-field appearance="fill" style="width: 100%; max-width: 400px;">
          <mat-label>Country Name</mat-label>
          <input matInput id="countryname" placeholder="Country Name" formControlName="countryname" />
        </mat-form-field>
      
        <mat-form-field appearance="fill" style="width: 100%; max-width: 400px;">
            <mat-label>Created Date and Time</mat-label>
            <input matInput  placeholder="createdt" formControlName="createdt"
          readonly  style="margin-top: 3%">
          </mat-form-field>


          <mat-form-field appearance="fill" style="width: 100%; max-width: 400px;">
            <mat-label>Created By </mat-label>
            <input matInput  placeholder="createby" formControlName="createby"
            style="margin-top: 3%">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="saveCountry()">Save</button>

      </div>
      

   



</form>

