mat-toolbar {
    background: #3f51b5;
    color: red
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button.mat-button {
    color: red
  }
  
  .mat-menu-panel {
    background-color: #3f51b5;
  }
  
  .mat-menu-item {
    color: red
  }
  
  .mat-menu-item:hover {
    background-color: #303f9f;
  }


  
  