.header {
    max-width: 2060px; /* Limit the width */
    margin: 0 auto;   /* Center the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background: linear-gradient(45deg, #ff6f61, #d4a5a5, #6b4f4f);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
  }
  
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .profile-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* mat-toolbar {
    background: #3f51b5;
    color: red
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button.mat-button {
    color: red
  }
  
  .mat-menu-panel {
    background-color: #3f51b5;
  }
  
  .mat-menu-item {
    color: red
  }
  
  .mat-menu-item:hover {
    background-color: #303f9f;
  } */


  
  






  
 
  