

<div class="homepage-container">
    <mat-card class="custom-card top-left" [routerLink]="['/search']">
      <mat-card-title>Choose Packages</mat-card-title>
      <mat-card-content>
        <p>Explore a variety of travel packages tailored to your preferences. Find the best deals and discounts!</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card top-right">
      <mat-card-title>Choose Flight</mat-card-title>
      <mat-card-content>
        <p>Find the perfect flight for your next adventure. We compare prices across airlines for you.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card bottom-left">
      <mat-card-title>Choose Hotel</mat-card-title>
      <mat-card-content>
        <p>Select from a range of top-rated hotels, ensuring comfort and convenience for your stay.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card bottom-right">
        <mat-card-title>Secure Your Forex</mat-card-title>
        <mat-card-content>
          <p>Lock in the best exchange rates for your travels. Make sure you’re ready with the right currency for your adventure.</p>
        </mat-card-content>
      </mat-card>

      <div class="center-content">
        <h2>Explore the World with Travel Canvas</h2>
        <p>Travel Canvas offers exclusive vacation packages, great flight deals, and top-rated hotels for your next adventure. Plan your perfect trip with ease and convenience.</p>

    </div>
  </div>
  