<div class="container">
    <h2>Upload Image</h2>
    <div class="form-group">
      <label for="fileInput">Choose Image</label>
      <input 
        type="file" 
        id="fileInput" 
        class="form-control" 
        (change)="onFileSelected($event)" 
        required 
      />
    </div>
    <button 
      class="btn btn-primary mt-3" 
      (click)="uploadImage()" 
      [disabled]="!file">
      Upload
    </button>
  
    <div *ngIf="message" class="alert alert-info mt-3">
      {{ message }}
    </div>
  </div>
  
